.combo-overlay-btn {
cursor: pointer;
width: 130px!important;
height: 30px;
margin-right: 6px!important;
}

.mk-product-guide button {
display: inline-block!important;
width: 130px!important;
margin-right: 6px!important;
}
